[submodule "gitlab-ci"]
	path = gitlab-ci
	url = https://gitlab.com/nofusscomputing/projects/gitlab-ci.git
	branch = development
[submodule "website-template"]
	path = website-template
	url = https://gitlab.com/nofusscomputing/infrastructure/website-template.git
	branch = development
